@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', serif;
}

body {
    /* background: #081b29; */
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 3s;
}

.navbar a:hover {
    color: #00abf0;
}

.home {
    height: 100vh;
    background: url('bg5.png') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 400px;
}

.home-content h1 {
    font-size: 38px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    animation: showRight 1s ease forwards;
    animation-delay: .1s;
}

.home-content h3 {
    font-size: 24px;
    font-weight: 700;
    color: #00abf0;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    /* background: yellowgreen; */
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 1px solid #00abf0;
    border-radius: 8px;
    font-size: 17px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: #00abf0;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2):hover {
    color: #00abf0;
}

.btn-box a:nth-child(2)::before {
    background: #00abf0;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: #081b29;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;

}

.home-imgHover {
    position: absolute;
    top: 0;
    right: 30px;
    width: 500px;
    height: 100%;
    background: transparent;
    transition: 3s;
    animation: manipACtiveHover .1s forwards;
    animation-delay: 4s;
    pointer-events: none;
}

.home-imgHover:hover {
    background: #081b29;
    opacity: .8;
}

.home-imgHover:after {
    content: '';
    top: 0;
    right: 0;
    width: 120%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 100;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    background: url(Sunset.jpg);
    background-position: center;
    -webkit-backdrop-filter: blur(100vh);
    backdrop-filter: blur(90%);
    padding-bottom: 3rem;
}

.heading {
    font-size: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    margin-top: 3rem;
    padding-top: 5%;
}

.about-content {
    text-align: center;
}

.about-content h3 {
    font-size: 2.6rem;
    padding-top: 5%;
    text-shadow: 2px 2px 5px black;
    
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    margin-left: 10%;
    margin-right: 10%;
    text-shadow: 2px 2px 5px black;
}

.btn-box btns {
    display: inline-block;
    width: 15rem;
}

.btn-box.btns a::before {
    background: var(--second-bg-color);
}

.education {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(bgNew.jpg);
    background-position:left;
    background-size:auto;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 9rem;
}

.education h2 {
    padding-top: 5%;
}

.education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.education-row .education-column {
    flex: 1 1 40rem;
}

.education-column .title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.education-column .education-box {
    border-left: .2rem solid var(--main-color);
}

.education-box .education-content {
    position: relative;
    padding-left: 2rem;
}

.education-content .content {
    position: relative;
    padding: 1.5rem;
    border: 2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
}

.education-content .content-year {
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .5rem;
}

.education-content .content .year i {
    padding-right: .5rem;
}

.education-content .content h3 {
    font-size: 2rem;
}

.education-content .content p {
    font-size: 1.2rem;
    padding-top: .1rem;
}

  /* contact section */
.contact_section {
    position: center;
    color: #ffffff;
    background-image:url(Sunset.jpg);
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 10%;
  }
  
  .contact_section .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .contact_section .contact_form-container {
    margin-top: 50px;
  }
  
  .contact_section .contact_form-container input {
    border: none;
    outline: none;
    color: #000000;
    height: 45px;
    width: 100%;
    margin: 15px 0;
    padding-left: 15px;
    background-color: #ffffff;
  }
  
  .contact_section .contact_form-container input::-webkit-input-placeholder {
    color: #000000;
    text-transform: uppercase;
  }
  
  .contact_section .contact_form-container input:-ms-input-placeholder {
    color: #000000;
    text-transform: uppercase;
  }
  
  .contact_section .contact_form-container input::-ms-input-placeholder {
    color: #000000;
    text-transform: uppercase;
  }
  
  .contact_section .contact_form-container input::placeholder {
    color: #000000;
    text-transform: uppercase;
  }
  
  .contact_section .contact_form-container input.message_input {
    height: 120px;
  }
  
  .contact_section .contact_form-container .btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 25px;
  }
  
  .contact_section .contact_form-container button {
    display: inline-block;
    padding: 10px 60px;
    background-color: #f1db25;
    color: #ffffff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid transparent;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .contact_section .contact_form-container button:hover {
    background-color: transparent;
    border-color: #f1db25;
    color: #f1db25;
  }
  
  .contact_bg_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .contact_bg_box .img-box {
    width: 100%;
  }
  
  .contact_bg_box .img-box img {
    min-width: 100%;
    min-height: 100%;
  }
  
  .contact_bg_box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.35)));
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.35));
  }
  
  /* end contact section */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
    background-color: #081b29;
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-iconTop a::before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.footer-iconTop a:hover:before {
    width: 100%;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--bg-color);
    transition: .5s;
}

.footer-iconTop a:hover i {
    color:var(--main-color)
}



/* KEYFRAMES ANIMATION */
@keyframes showRight {
    100% {
        width: 0;
    }
}

@keyframes manipACtiveHover {
    100% {
        pointer-events: auto;
    }
}
